h1{
    font-size: 3em;
}

li{
    font-size: 1.6em;
    margin: 0.5em 0;
    cursor: pointer;
}

.movie_container{
    border:1px solid grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:2em; 
    padding:3em 5em; 
    width:25em;
    height:20em;
    overflow: auto; 
    box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -webkit-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
}

#Left_container{
    border:1px solid grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:2em; 
    padding:3em 5em; 
    width:25em;
    height:20em;
    overflow: auto; 
    box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -webkit-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
}

#right_container{

    border:1px solid grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:2em; 
    padding:3em 5em; 
    width:25em;
    height:20em;
    overflow: auto; 
    box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -webkit-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 11px 5px -2px rgba(0,0,0,0.40);
}